@model PagedList.IPagedList<SachOnline.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb" style="background-color: #e4887e; ">
                    <li><a style="color: #fff; font-size: 20px;" href="@Url.Action("Index","SanPhams")">Home</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="products">
                            @{
                                var count = 0;
                            }
                            @foreach (var item in Model)
                            {
                                count = count + 1;
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="product">
                                        <div class="image"><a href="@Url.Action("Details","SanPhams",new { id=item.MaSP})"><img style="width:250px;height:300px;" src="~/Assets/images/DanhMucSach//@item.HinhAnh" /></a></div>
                                        <div class="buttons">
                                            @if (HttpContext.Current.Session["SDT"] == null)
                                            {
                                                <a class="btn cart" href="@Url.Action("Index","Login")"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a class="btn cart" href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.MaSP })"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                            }
                                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="@Url.Action("Details","SanPhams",new { id=item.MaSP})">@item.TenSP</a></h3></div>
                                            <div class="price">Giá :@item.Gia VNĐ</div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (count == 0)
                            {
                                <h1 align="center">Không có sản phẩm nào</h1>
                            }
                        </div>


                    </div>
                </div>

                <div class="row text-center">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                @Html.Partial("_DanhMucSanPhanInterFacePratical", SachOnline.Buss.DanhMucSanPhamBus.DanhSach())
                @Html.Partial("_NhaXuatBanIndex", SachOnline.Buss.NhaXuatBanBus.DanhSach())
                @Html.Partial("_SanPhamLienQuanParticalView", SachOnline.Buss.SanPhamBus.DanhSachLay3())
            </div>
        </div>
    </div>
</div>