@model SachOnline.Models.AccountAdmin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa tài khoản này?</h3>
<div>
    <h4>AccountAdmin</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:80px;">
        <dt>
            Mật khẩu: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
           Tên: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
           Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Quyền: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
