@model SachOnline.Models.NhaXuatBan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Xóa nhà xuất bản</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>NhaXuatBan</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:80px;">
        <dt>
            Tên nhà xuất bản: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhaXuatBan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:80px;">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
